
p.d {
	margin-top:50px
	
}
h1.a{
	color:orange;
}
img{
	
width: 200px;
height: 200px;
}
.r { 
     color: red; 
     font-size: 150%; 
     font-family: serif; 
     position: relative; 
  